{% extends 'base.html' %}

{% block title %}{{mikrot.mikrotName}}{% endblock %}









{% block content %}
<nav class="navbar navbar-expand navbar-dark bg-white" aria-label="Second navbar example">
    <div class="container-fluid ">
      
      <div class="collapse navbar-collapse " id="navbarsExample02">
        <ul class="navbar-nav me-auto">
       
        </ul>
        <form action="{% url 'monitor:sort_all_device' %}" method="POST">
						{% csrf_token %}
					<div class="d-flex w-100 gap-2">
					<select name="device" style="width: 200px;" class="form-select" aria-label="Default select example">
					  <option value="0">Все</option>
					  <option value="1">Ноутбуки</option>
					  <option value="2">Принтеры</option>
					  <option value="3">Базы</option>
					  <option value="4">Неизвестно</option>
					</select>
					<input style="" type="submit" value="Поиск" class="btn btn-primary">
					</div>
				</form>
			</div>
		</div>
</nav>




<table style="width: 100%; float: left; top: 14%" class="table table-striped">
	  <thead>
	    <tr>
	    
	      <th scope="col">IP</th>
	      <th scope="col">Hostname</th>
	      <th scope="col">MAC</th>
	      <th scope="col">Объект</th>
	      <th scope="col">Устройство</th>
	    </tr>
	  </thead>
	  <tbody>
	
	  	{% for device in listDevice %}
	  	
	    <tr>
	 
	      <td>{{device.0}}</td>
	      <td>{{device.2}}</td>
	      <td>{{device.1}}</td>
	      <td>{{device.4}}</td>
	      <td>{{device.3}}</td>
	    </tr>
	 
	   	{% endfor %}
	  </tbody>
</table>




{% endblock %}