{% extends 'base.html' %}

{% block title %}{{mikrot.mikrotName}}{% endblock %}

{% block content %}





<form action="{% url 'monitor:view_host' mikrot.id %}" method="POST">
	{% csrf_token %}
	<div class="form-group">
		<div class="form-group mx-sm-3 mb-2">
			<input style="position: absolute ; width: 77%; top: 10%;" type="text" name="command" placeholder="Введите команду" class="form-control">
		</div>

	<input style="position: absolute ; right: 16%; top: 10%;" type="submit" value="Отправить" class="btn btn-primary mb-2">
	</div>

</form>


<div >
<form action="{% url 'monitor:sort_host' mikrot.id %}" method="POST">
	{% csrf_token %}
<select name="device" style="position: absolute; right: 5%; width: 200px; top: 10%;" class="form-select" aria-label="Default select example">
  <option value="0">Все</option>
  <option value="1">Ноутбуки</option>
  <option value="2">Принтеры</option>
  <option value="3">Базы</option>
  <option value="4">Неизвестно</option>
</select>
<input style="position: absolute ; right: .5%; top: 10%;" type="submit" value="Поиск" class="btn btn-primary">
<form>
</div>






<table style="width: 30%;position: absolute; float: left; top: 14%" class="table table-striped">
	  <thead>
	    <tr>
	    
	      <th scope="col">IP</th>

	    </tr>
	  </thead>
	  <tbody>
	
	  	{% for ip in listDevice %}
	  	
	    <tr>
	 
	      <td>{{ip.0}}</td>
	      
	    </tr>
	 
	   	{% endfor %}
	  </tbody>
</table>

<table style="width: 30%;position: absolute; left: 30%; top: 14%" class="table table-striped">
	  <thead>
	    <tr>
	    

	      <th scope="col">Hostname</th>
	    </tr>
	  </thead>
	  <tbody>
	
	  	{% for name in listDevice %}
	  	
	    <tr>
	 
	      <td>{{name.2}}</td>
	      
	    </tr>
	 
	   	{% endfor %}
	  </tbody>
</table>

<table style="width: 25%;position: absolute; left: 60%; top: 14%" class="table table-striped">
	  <thead>
	    <tr>
	    

	      <th scope="col">MAC</th>
	    </tr>
	  </thead>
	  <tbody>
	
	  	{% for mac in listDevice %}
	  	
	    <tr>
	 
	      <td>{{mac.1}}</td>
	      
	    </tr>
	 
	   	{% endfor %}
	  </tbody>
</table>

<table style="width: 20%;position: absolute; left: 85%; top: 14%" class="table table-striped">
	  <thead>
	    <tr>
	    

	      <th scope="col">Устройство</th>
	    </tr>
	  </thead>
	  <tbody>
	
	  	{% for device in listDevice %}
	  	
	    <tr>
	 
	      <td>{{device.3}}</td>
	      
	    </tr>
	 
	   	{% endfor %}
	  </tbody>
</table>


<!--<h4 style="position: absolute; top: 80%">{{result}} TTT</h4>-->

{% endblock %}