{% extends 'base.html' %}

{% block title %}Инвентаризация{% endblock %}


{% load static %}

{% block content %}



  
<script type="text/javascript">
function saveDev(){
  
  
    var form = document.getElementById("saveFindForm");
    form.action = "{% url 'monitor:save_device' %}";
    form.submit();
}


function findDev(){
  
  
    var form = document.getElementById("saveFindForm");
    form.action = "{% url 'monitor:invent' %}";
    form.submit();
}

</script>

<nav class="navbar navbar-expand navbar-dark bg-white" aria-label="Second navbar example">
    <div class="container-fluid ">
      
      <div class="collapse navbar-collapse " id="navbarsExample02">
        <ul class="navbar-nav me-auto">
       
        </ul>

       

        <form id = "saveFindForm" method="POST">
          {% csrf_token %}

          

          <div class="d-flex w-100 gap-2">
            
          
          <select name="device" style="width: 200px;" class="form-select" aria-label="Default select example" >
            <option value="0" >Все</option>
            <option value="1" >Ноутбуки</option>
            <option value="2" >Принтеры</option>
            <option value="3" >Базы</option>
            <option value="5" >Системники</option>
            <option value="4" >Неизвестно</option>
          </select>
          
          
          
          <input id = 'findBtn' onclick="findDev()" name="find" type="submit" value="Поиск" class="btn btn-primary">
          <input id = 'saveBtn' onclick="saveDev()" name="save" type="submit" value="Сохранить" class="btn btn-primary">
          </div>
        </form>
        
          
      </div>
    </div>
</nav>



<table style="width: 100%; float: left; top: 14%" class="table table-striped">
    <thead>
      <tr>
      
        <th scope="col">IP</th>
        <th scope="col">Hostname</th>
        <th scope="col">MAC</th>
        <th scope="col">Объект</th>
        <th scope="col">Устройство</th>
      </tr>
    </thead>
    <tbody>
  
      {% for device in listDevice %}
      
      <tr>
   
        <td>{{device.0}}</td>
        <td>{{device.2}}</td>
        <td>{{device.1}}</td>
        <td>{{device.4}}</td>
        {% if device.3 == "Телефонная База" or  device.3 == "Принтер" %}
        <td><a style="cursor: pointer;" target="_blank" href="http:\\{{device.0}}">{{device.3}}</a></td>
        {% else %}
        <td>{{device.3}}</td>

        {% endif %}
      </tr>
   
      {% endfor %}
    </tbody>
</table>


{% endblock %}