<!DOCTYPE html>

<html lang = "en">
	<head>
		<meta charset="utf-8">

		 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
		<title>{% block title %} Mikronik {% endblock %}</title>

	</head>
	<body>

			
		<header style="background-color: whitesmoke; width: 100%" class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
      	<li style="font-size: 150%" class="nav-link">{{hostname}}</li>
      	<li style="font-size: 150%" class="nav-link">{{mikrot.mikrotIP}}</li>
        <li class="nav-item"><a href="/admin" class="nav-link active" aria-current="page">Admin</a></li>
        <li class="nav-item"><a href="/monitor" class="nav-link">Главная</a></li>
        <li class="nav-item"><a href="/all_device" class="nav-link">Устройства</a></li>
        <li class="nav-item"><a href="/monitor/group" class="nav-link">Групповое управление</a></li>
      	<li class="nav-item"><a href="/monitor/simple_upload" class="nav-link">Загрузка</a></li>
      	
      {% if user.is_authenticated %}
     <li class="nav-link">{{ user.get_username }}</li>
     <li class="nav-item"><a class="nav-link" href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
   {% else %}
     <li class="nav-item"><a class="nav-link" href="{% url 'login'%}?next={{request.path}}">Login</a></li>
   {% endif %} 
      </ul>

    </header>

		
		{% block content %}

		{% endblock %}

	</body>

</html>