<!DOCTYPE html>

<html lang = "en">
	<head>
		<meta charset="utf-8">

		 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
		<title>{% block title %} Mikronik {% endblock %}</title>

	</head>
	<body>

			
		<header style="background-color: whitesmoke; width: 100%" class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
      	<li style="font-size: 150%" class="nav-link">{{hostname}}</li>
      	<li style="font-size: 150%" class="nav-link"><a style="cursor: pointer; text-decoration: none;" target="_blank" href="http:\\{{mikrot.mikrotIP}}">{{mikrot.mikrotIP}}</a></li>
        <li class="nav-item"><a href="/admin" class="nav-link active" aria-current="page">Admin</a></li>
        <li class="nav-item"><a href="/monitor" class="nav-link">Главная</a></li>
        <li class="nav-item"><a href="/all_device" class="nav-link">Устройства</a></li>
        <li class="nav-item"><a href="/monitor/group" class="nav-link">Групповое управление</a></li>
      	<li class="nav-item"><a href="/monitor/invent" class="nav-link">Инвентаризация</a></li>
      	
      {% if user.is_authenticated %}
     <li class="nav-link">{{ user.get_username }}</li>
     <li class="nav-item"><a class="nav-link" href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
   {% else %}
     <li class="nav-item"><a class="nav-link" href="{% url 'login'%}?next={{request.path}}">Login</a></li>
   {% endif %} 
      </ul>

    </header>

		<!--<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">Simple header</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
      </ul>
    </header>-->

		
		{% block content %}

		{% endblock %}

	</body>

</html>